[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "2.23.0"
python-dotenv = "*"
ytmusicapi = "1.3.2"

[dev-packages]
ipython = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
